body {
    background-color:  #F6FAFB;
  }
  
  
  
  .pokemon-list{
    display: fixed;
    justify-content: center;
    align-items: center;
    background-color: #75ABDC;
  }

  ul{
    list-style-type: none;
  }
  
    